<div class="container text-center">
  <a href="https://vk.com/be_afraid_of_other_people">
    <img [src]="url" height="200" width="300" *ngIf="hidden" /><br />
  </a>
  <button mat-button (click)="onClickHideButton()">Hide</button>
</div>
<h1>В Калининградской области объявили штормовое предупреждение</h1>
<p>В Калининградской области объявили штормовое предупреждение из-за усиления ветра</p>
<p>
  Об этом сообщает <a href="https://kaliningradfirst.ru/308865">«Янтарный край»</a> со ссылкой на пресс-службу администрации Калининграда.
  Жителям рекомендуется плотно закрыть окна и двери с наветренной стороны зданий.
</p>
<p>
  При вынужденном пребывании на улице желательно находиться в отдалении от строений, не укрываться под отдельно стоящими деревьями, не приближаться к опорам линий электропередачи.
  Ранее педиатр-иммунолог, профессор, доктор медицинских наук Андрей Продеус в беседе с НСН дал рекомендации метеозависимым людям.
</p>
